@import '../../assets/css/variables';

.Navbar {
  position: fixed;

  /*
   * This fixes the navbar at the center of the screen.
   * Note that we need margin-left to have half the value of the width;
   */
  width: 300px;
  left: 50%;
  margin-left: -150px;

  bottom: 20px;
  display: flex;
  flex-direction: column;
}

.Navbar ul {
  list-style: none;
  padding: 0;
  display: none;
}

.Navbar ul.active {
  display: initial;
}

.Navbar ul li {
  display: inline;
  margin: 0 10px;
}

.Navbar button {
  border: 5px solid white;
  background: $blue;
  color: white;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s background ease-in-out;
}

.Navbar button:hover {
  background: $lightblue;
}

.Navbar button:active {
  background: $darkblue;
}
